:root {
	--almost-white: rgb(254,253,254);
	--cover-pink: rgb(190,169,185);
	--dark-blue: rgb(50,74,106);
	--true-blue: rgb(15, 59, 116);
	--light-blue: rgb(101 122 142);
	--button-color: rgb(185 43 169);
	--button-text: rgb(217 211 190);
}

html, body, #root, .App {
	height: 100vh;
	width: 100vw;
	margin: 0;
	padding: 0;
	overflow: hidden;
	font-size: 16px;
}

.content {
	height: 100%;
	width: 100%;

	background: linear-gradient( var(--dark-blue), var(--true-blue), var(--light-blue));
	background-size: 200% 200%;
	animation: gradient 15s ease infinite;

	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.navbar-container {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.navbar-menu {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	border: 1px solid rgb(34 50 70);
	background: var(--dark-blue);
    padding: 2rem;
    border-radius: 3px;
}

.menu-tag {
	font-size: 1.2rem;
	color: var(--almost-white);
}

.navbar-item {
	width: 10rem;
	z-index: 1;
	margin: 1rem 0;
	padding: 1rem;
	background-color: var(--cover-pink);
	color: var(--dark-blue);
	font-size: 1.2rem;
	text-align: center;
	border-radius: 3px;
	cursor: pointer;
	user-select: none;
}
.navbar-item:hover {
	transform: scale(1.03);
	border: 1px solid var(--almost-white);
}

.popup-container {
	height: 50vh;
	width: 20vw;
	border: 1px solid var(--almost-white);
	border-radius: 3px;
}

.popup-content {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: var(--dark-blue);
}

.links, .contact-form {
	height: 80%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;

	overflow-y: scroll;
}

.links a {
	text-decoration: none;
	color: var(--almost-white);
	font-size: 1.5rem;
	padding: 1rem;
}
.links a:hover {
	text-decoration: underline;
	order: 1px solid rgb(41 57 79);
    border-radius: 5px;
    background: rgb(41 57 79);
	transition: all .1s ease-in-out;
}

.contact-form {
	width: 95%;
}
.contact-section {
	display: flex;
	flex-direction: column;
	width: inherit;
	color: var(--almost-white);
}
.contact-body {
	height: 6rem;
	display: flex;
}

.close-btn, .send-btn {
	width: 4rem;
	padding: .5rem;
	border: none;
	background-color: var(--cover-pink);
	color: var(--dark-blue);
	text-align: center;
	border-radius: 3px;
	cursor: pointer;
	user-select: none;
}
.close-btn:hover, .send-btn {
	transform: scale(1.05);
}

.cover-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 2;

	position: relative;
}

.cover-img {
	max-width: 38vw;
    max-height: calc(100vh - 12rem);
    object-fit: contain;

	box-shadow: 0rem 0rem 3rem 0.2rem rgb(32 32 32 / 51%);
}

.summary-container {
	height: 100%;
	width: 100%;
	backdrop-filter: blur(2px);

	z-index: 5;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
}
.book-summary {
	height: min-content;
	width: 80%;
	display: flex;
    flex-direction: column;
    justify-content: center;
	padding: 0 1rem;
	
	background-color: rgb(0,0,0,0.7);
	font-size: 1.2rem;
}
.summary-italic {
	font-style: italic;
	color: var(--almost-white);
}
.summary-body {
	color: var(--light-blue);
}

.off {
	display: none;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}